@import "variables";

// Abstract
@import "abstract/media-queries";

// Mixins
@import "abstract/mixins/widths";
@import "abstract/mixins/grid";
@import "abstract/mixins/flex";

// Loops
@import "abstract/loops/margin";

// Base
@import "base/text";
@import "base/wrapper";

// Components
@import "components/button";
@import "components/chat";
@import "components/form";
@import "components/mobile-header";
@import "components/navigation";
@import "components/nav-slider";
@import "components/groups";
@import "components/icons";
@import "components/messages";

// Pages
@import "pages/profile";
@import "pages/shopping-lists";

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: $bg-color;
}
