.button {
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    color: $black;
    border-radius: 5px;
    border: none;
    font-size: 1em;

    &--primary {
        background: $accent;
    }

    &--secondary {
        background: $light-gray;
    }

    &--link {
        color: $green;
        background: transparent;
        padding: 0;
    }

    &--logout {
        position: fixed;
        bottom: 64px;
        left: 50%;
        transform: translateX(-50%);
    }

    &--icon {
        margin: 0;
        padding: 0;
        border: none;
        background: transparent;
    }
}

.arrow-back {
    position: fixed;
    left: 20px;
    top: 26px;
    transform: translateY(-50%);
}
