$inputWidth: calc(100% - 12px);

.form {
    &__group {
        margin: 10px 0;
        position: relative;

        .icon-parent {
            position: absolute;
            bottom: 12px;
            right: 12px;
        }
    }

    &__image-upload {
        position: relative;
        margin-bottom: 20px;
        @include square-size(60px);
    }

    &__label {
        &--icon {
            position: absolute;
            background: transparentize($black, 0.25);
            right: -9px;
            bottom: -9px;
            padding: 5px;
            @include flex-center;
            border-radius: 50%;
        }
    }

    &__input {
        margin-top: 5px;
        @include inputWidth(100%, 15px);
        border-radius: 5px;
        border: 1px solid $light-gray;
        outline: none;

        &--file,
        &--radio-button {
            display: none;
        }
    }

    &__picture-wrapper {
        height: 60px;
        position: relative;
        padding-right: 20px;
        display: flex;
        flex-flow: row;
        align-items: center;
        gap: 20px;
        border-radius: 30px;
        background: $accent;

        .icon-wrapper {
            height: 34px;
            width: 34px;
            background: black;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .button {
        margin-top: 5px;
    }
}

.radio-button {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 20px;
    margin-bottom: 20px;

    p {
        margin: 0;
    }

    &__circle {
        margin-top: 1px;
        width: 20px;
        height: 20px;
        border: 2px solid $accent;
        border-radius: 50%;
        @include flex-center();

        .inner-circle {
            background: $accent;
            width: 14px;
            height: 14px;
            display: inline-block;
            border-radius: 50%;
            opacity: 0;
        }
    }
}

.form__input--radio-button:checked {
    & ~ label .inner-circle {
        opacity: 1;
    }
}
